body {
  max-width: 1500px;
  margin: 0px auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Шапка сайта*/

header {
  display: flex;
  align-items: flex-start;
}

.logo {
  display: flex;
  position: fixed;
  top: 0px;
  left: 50px;
  right: 50px;
  background-color: #FFFFFF;
}

.logo__like-icon {
  fill: #888888;
  position: relative;
  left: 1130px;
  top: 10px;
  min-width: 31px;
  min-height: 31px;
}

.logo__like-number {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50px;
  background-color: #F36223;
  color: #FFFFFF;
  font-style: bold;
  font-size: 14px;
  background-size: contain;
  line-height: 12px;
  position: absolute;
  top: 4px;
  left: 1385px;
  padding: 1px;
}


.logo__basket-icon {
  fill: #888888;
  position: relative;
  left: 1150px;
  top: 10px;
  min-width: 31px;
  min-height: 31px;
}

.logo__basket-number {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50px;
  background-color: #F36223;
  color: #FFFFFF;
  font-style: bold;
  font-size: 14px;
  background-size: contain;
  line-height: 12px;
  position: absolute;
  top: 4px;
  left: 1445px;
  padding: 1px;
}

.product-name {}

.characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.characteristics__all-characteristics {
  max-width: 880px;
}

.product-name__breadcrumbs {
  color: #008CF0;
}

.product-name__title {}

.product-name__gallery {
  display: flex;
  justify-content: space-between;
}

.characteristics__phone-color {}

.characteristics__memory {}

.side-bar {
  width: 420px;
}

.characteristics__chosen-color {}

.characteristics__color-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.characteristics__memory-title {}

.characteristics__memory-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.characteristics__memory-button {
  cursor: pointer;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 10px 25px;
  box-sizing: border-box;
}

.memory-radio>input {
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

label>input:hover+.characteristics__memory-button {
  background-color: #888888;
}

label>input:active+.characteristics__memory-button {
  border: 1px solid #F36223;
}

label>input:checked+.characteristics__memory-button {
  border: 1px solid #A93A09;
}

.characteristics__product-characteristics {}

.characteristics__description {}

.img-radio img {
  box-sizing: border-box;
  height: 80px;
  width: 80px;
}

.img-radio>input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}

.img-radio>input+img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 1px solid #888888;
  border-radius: 4px;
  padding: 10px 25px;
}

label>input:checked+img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #F36223;
}

label>input:hover+img {
  /* (RADIO HOVER) IMAGE STYLES */
  background-color: #888888;
}

label>input:active+img {
  border: 2px solid #A93A09;
}

.characteristics__title {}

.characteristics__description-title {}


.charateristics__list {
  padding-left: 20px;
}

.charateristics__list-element {
  color: #888888;
}

li span {
  color: black
}

span.bold {
  font-weight: bold;
}

.span-color {
  color: #F36223;
}

a:link {
  color: #008CF0;
}

a:hover {
  color: #F36223;
}

a:active {
  color: #A93A09;
}

/* Отзывы */

.review-container {}

.review-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-section__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.review {
  display: flex;
  gap: 30px;

}

.review__photo {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

.review__name {
  margin: 0;
  font-style: bold;
  font-size: 20px;
}

.review__star-img {
  width: 30px;
  height: 30px;
}

.review__parameters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
  font-size: 14px;

}

.review__parameters_dashed {
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: #888888;
}

.review-section__wrapper {
  display: flex;
  gap: 10px;
}

.review-section__title {
  margin: 0;
  font-style: bold;
  font-size: 24px;
}

.review-section__count {
  color: #888888;
  font-style: bold;
  font-size: 24px;
}


.review-section__stars {
  display: flex;
}


.table-cell {
  padding: 10px;
  text-align: center;
}

.table-border-right {
  border-right: 1px solid #888888;
}

/* таблица сравнения товаров */
.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.characteristics__table {
  border-collapse: collapse;
  border: 1px solid #888888;
  width: 100%;
}

.table__head {
  border-bottom: 1px solid #888888;
}

.table__body {
  border-bottom: 1px solid #888888;
}

.table__line:hover {
  background: #888888;
}


/*Форма*/

.characteristics__form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 710px;
  padding-left: 140px;
}

.characteristics__legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  padding: 0;
}

.characteristics__fields {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.characteristics__first-line {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}

.characteristics__second-line {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.characteristics__fieldset1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-color: transparent;
}

.characteristics__fieldset2 {
  border-color: transparent;
  padding: 0px;
  box-sizing: border-box;
}


.characterictics__input-text {
  width: 495px;
  height: 49px;
  padding: 15px 20px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #888888;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.characterictics__input-text::placeholder {
  font-size: 16px;
  font-weight: medium;
  border-color: #888888;
}

.characterictics__input-text:hover {
  outline: none;
  border: 1px solid;
  border-color: #000000;
}

.characterictics__input-text:focus {
  border: 1px solid;
  border-color: #000000;
  outline: none;
}

.characterictics__input-grade {
  height: 49px;
  width: 175px;
  padding: 15px 20px;
  border: 1px solid #888888;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.characterictics__input-grade::placeholder {
  font-size: 16px;
  font-weight: medium;
  outline: none;
  border-color: #888888;
}

.characterictics__input-grade:hover {
  outline: none;
  border: 1px solid;
  border-color: #000000;
}

.characterictics__input-grade:focus {
  border: 1px solid;
  border-color: #000000;
  outline: none;
}

.characteristics__input-textarea {
  width: 710px;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  resize: none;
  border: 1px solid #888888;
  cursor: pointer;
}

.characteristics__input-textarea::placeholder {
  font-size: 16px;
  font-weight: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.characteristics__input-textarea:hover {
  outline: none;
  border-color: #000000;
  border: 1px solid;
}

.characteristics__input-textarea:focus {
  border: 1px solid;
  border-color: #000000;
  outline: none;
}

.characterictics__input-grade-mistake {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background: #DA4A0C;
  padding: 8px 20px;
  visibility: hidden;
}

.characterictics__input-text-mistake {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  background: #DA4A0C;
  padding: 8px 20px;
  visibility: hidden;
}

.characteristics__submit-button {
  height: 39px;
  width: 177px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #F36223;
  font-size: 16px;
  font-weight: medium;
  color: #FFFFFF;
  cursor: pointer;
}

.characteristics__submit-button:hover {
  background-color: #DA4A0C;
}

.characteristics__submit-button:active {
  background-color: #A93A09;
}

/* Сайд-бар */

.side-bar__paragraph {
  font-size: 16px;
  font-weight: 400;
}

.side-bar__important {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
  width: 420px;
  padding: 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.side-bar__advertisement {
  height: 642px;
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-bar__price {
  height: 73px;
  width: 132px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.side-bar__delivery {
  gap: 10px;
  height: 68px;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.side-bar__add-button {
  display: flex;
  gap: 15px;
  width: 380px;
  height: 64px;
  padding: 20px 49px;
  border-radius: 4px;
  border-color: transparent;
  background: #F36223;
  color: white;
  cursor: pointer;
  font-style: regular;
  font-size: 20px;
  line-height: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.side-bar__add-button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 19px;
  background-image: url("./images/cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.side-bar__add-button:hover {
  background-color: #DA4A0C;
}

.side-bar__add-button:active {
  background-color: #A93A09;
}

.side-bar__radio svg {
  box-sizing: border-box;
}

.side-bar__radio>input {
  visibility: hidden;
  position: absolute;
}

.side-bar__radio>input+svg {
  cursor: pointer;
  fill: #888888;
  height: 20px;
  width: 26px;
}

.side-bar__radio>input:hover+svg {
  fill: #F36223;
}

.side-bar__radio>input:active+svg {
  fill: #A93A09;
}

.side-bar__caption {
  color: #888888;
  margin: 0;
}

.side-bar__old-price {
  display: flex;
  align-items: center;
  gap: 230px;
  height: 24px;
  width: 123px;
}

.side-bar__container {
  display: flex;
  align-items: baseline;
  height: 24px;
  width: 123px;
}

.side-bar__new-price {
  height: 39px;
  width: 132px;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar__amount {
  color: #888888;
  text-decoration: line-through;
  height: 24px;
  width: 66px;
  font-style: medium;
  font-size: 16px;
  line-height: 16px;
}

.side-bar__sale {
  padding: 4px 8px;
  gap: 10px;
  background: #F36223;
  border-radius: 500px;
  color: white;
}

.side-bar__paragraph {
  margin: 0;
  font-weight: 700px;
  font-size: 16px;
}



/* Разрешение ниже 1500px выше 1024px */

@media (min-width: 1025px) and (max-width: 1499px) {
  .characteristics__comparison {
    display: none;
  }

  .review__photo {
    width: 100px;
    height: 100px;
  }

  body {
    padding: 15px 15px;
    width: 993px;
  }

  .product-name {
    width: 993px;
  }

  .product-name__gallery {
    width: 993px;
  }

  .characteristics {
    gap: 40px;
  }

  .product-name__photo {
    height: 272px;
    width: 210px;
  }

  .review__star-img {
    height: 20px;
    width: 20px;
  }

  .characteristics__form {
    padding-left: 0px;
    gap: 30px;
  }

  .side-bar {
    height: 313px;
    width: 360px;
  }

  .side-bar__important {
    height: 313px;
    width: 360px;
    border-radius: 20px;
    padding: 20px;

  }

  .side-bar__add-button {
    height: 64px;
    width: 320px;
    padding: 20px 49px 20px 49px;
  }

  .side-bar__delivery {
    height: 106px;
    width: 320px;
    padding: 0px 0px 20px 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .side-bar__paragraph {
    height: 38px;
    width: 320px;
  }

  .side-bar__old-price {
    gap: 170px;
  }

  .characteristics__all-characteristics {
    width: 594px;
  }

  .side-bar__adv {
    height: 300px;
    width: 360px;
  }

  .characteristics__fields {
    width: 594px;
    display: flex;
    flex-direction: column;
  }

  .characterictics__input-text {
    height: 49px;
    width: 379px;
  }

  .characterictics__input-number {
    height: 49px;
    width: 175px;
  }

  .characteristics__input-textarea {
    height: 190px;
    width: 594px;
  }

  .characteristics__first-line {
    height: 65px;
    margin: 0px;
  }

  .logo {
    width: 993px;
    margin: 0px auto;
  }

  .logo__like-icon {
    left: 640px;
  }

  .logo__like-number {
    left: 895px;
  }

  .logo__basket-icon {
    left: 670px;
  }

  .logo__basket-number {
    left: 965px;
  }

}

/* Марджины */

.big-margin {
  margin-bottom: 30px;
}

.huge-margin {
  margin-right: 100px;
}

.bigger-margin {
  margin-bottom: 67px;
}

.medium-margin {
  margin-top: 60px;
}

.m-margin {
  margin-top: 30px;
}

.small-margin {
  margin-top: 25px;
}

.tiny-margin {
  margin-top: 10px;
}

.smaller-margin {
  margin-top: 20px;
}

.l-margin {
  margin-top: 15px;
}

.b-margin {
  margin-top: 100px;
}

.r-margin {
  margin-top: 50px;
}

/* Футер */

.footer-container {
  display: flex;
  padding: 30 0;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
}

.footer-container__copyright {
  font-size: 14px;
  text-align: left;
}